<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="jquery.js">
</script>
<script type="text/javascript" src="jquery-ui.min.js">
</script>
<script type="text/javascript" src="bootstrap.min.js">
</script>
<script type="text/javascript" src="Customjs.js">
</script>
<script type="text/javascript" src="contactform.js">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
Place Order
</title>
<link rel="stylesheet"  href="bootstrap.css" type="text/css" media="screen"/>
<link rel="stylesheet"  href="style.css" type="text/css" media="screen"/>
<script type="text/javascript" src="totop.js">
</script>
</head>
<body class="Services">
<div class="totopshow">
<a href="#" class="back-to-top"><img alt="Back to Top" src="images/gototop0.png"/></a>
</div>
<div id="ttr_page" class="container">
<nav id="ttr_menu" class="navbar-default navbar">
   <div id="ttr_menu_inner_in">
<div class="menuforeground">
</div>
<div id="navigationmenu">
<div class="navbar-header">
<button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
<span class="sr-only">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
</button>
<a href="http://www.templatetoaster.com" target="_self">
<img  class="ttr_menu_logo" src="menulogo.png" >
</a>
</div>
<div class="menu-center collapse navbar-collapse">
<ul class="ttr_menu_items nav navbar-nav navbar-right">
<li class="ttr_menu_items_parent dropdown active"><a href="home.html" class="ttr_menu_items_parent_link_active"><span class="menuchildicon"></span>Home</a>
<hr class ="horiz_separator"/>
</li>
<li class="ttr_menu_items_parent dropdown"><a href="place_order.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Place Order</a>
<hr class ="horiz_separator"/>
</li>
<li class="ttr_menu_items_parent dropdown"><a href="billing_details.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Billing Details</a>
<hr class ="horiz_separator"/>
</li>
<li class="ttr_menu_items_parent dropdown"><a href="contact.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Contact</a>
<hr class ="horiz_separator"/>
</li>
<li class="ttr_menu_items_parent dropdown"><a href="login.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Log In</a>
<hr class ="horiz_separator"/>
</li>
</ul>
</ul>
</ul>
</div>
</div>
</div>
</nav>
<header id="ttr_header">
<div id="ttr_header_inner">
<div class="ttr_headershape01">
<div class="html_content"><p style="text-align:Center;"><span style="font-family:'Oleo Script','Arial';font-weight:700;font-size:5.571em;color:rgba(1,161,133,1);">Green Energy From </span><span style="font-family:'Oleo Script','Arial';font-weight:700;font-size:5.571em;color:rgba(255,255,255,1);">Natural Resources</span></p></div>
</div>
<div class="ttr_headershape02">
<div class="html_content"><p><span style="font-family:'Lato','Arial';font-size:1.714em;color:rgba(48,48,48,1);">HOME&nbsp;&nbsp;|&nbsp;&nbsp;</span><span style="font-family:'Lato','Arial';font-size:1.714em;color:rgba(255,255,255,1);">Place Order</span></p></div>
</div>
</div>
</header>
<body>
<div class="form" align="center">
    <form method="POST" action="form.php">
        <h1>Place Order</h1>
        <table>
            <tr>
                <td>
                    <label for="cname">Enter Customer Name</label><br>
                    <input type="text" name="cname" placeholder="John Doe" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="cmpname">Enter Company Name</label><br>
                    <input type="text" name="cmpname" placeholder="Sunlight Solar Power" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="otype">Choose Order Type</label><br>
                    <select name="otype" type="text">
                          <option value="Shared">Shared</option>
                          <option value="Dedicated">Dedicated</option>
                          <option value="General">General</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="kwh">Enter Power Required</label><br>
                    <input type="int" name="kwh" placeholder="10kw" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="location">Enter Preferred Location</label><br>
                    <input type="text" name="location" placeholder="Madhya Pradesh" id="">
                </td>
            </tr>
            <tr> </tr>
            <tr>
                <td align="center">
                    <input type="submit" name="submit" value="Place Order" >
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
<footer id="ttr_footer">
<div class="ttr_footer_bottom_footer">
<div class="ttr_footer_bottom_footer_inner">
<div id="ttr_copyright">
<a href="#">
Copyright@SunlightSolarPower.com
</a>
</div>
<div id="ttr_footer_designed_by_links">
<a href="http://templatetoaster.com" target="_self" >
Website
</a>
<span id="ttr_footer_designed_by">
Designed by Group 5
</span>
</div>
<a href="http://www.facebook.com/TemplateToaster" class="ttr_footer_facebook" target="_self" >
</a>
<a href="http://twitter.com/templatetoaster"class="ttr_footer_twitter" target="_self" >
</a>
<a href="http://www.templatetoaster.com"class="ttr_footer_googleplus" target="_self" >
</a>
</div>
</div>
</footer>
<div style="height:0px;width:0px;overflow:hidden;-webkit-margin-bottom-collapse: separate;"></div>
</div>
<script type="text/javascript">
WebFontConfig = {
google: { families: [ 'Oleo+Script:700','Oxygen:700','Roboto:700','Oxygen'] }
};
(function() {
var wf = document.createElement('script');
wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.0.31/webfont.js';
wf.type = 'text/javascript';
wf.async = 'true';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(wf, s);
})();
</script>
</body>
</html>
